<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Calculator</title>
  </head>

  <body>
    <h1>Home Page</h1>
    <div class="container">
        <div class="row-fluid">
            <form method='post' action="/calculator">
                <div>Add two numbers:</div>
                    <input id="box1" type="text" name="number1"></input>
                    +
                    <input id="box2" type="text" name="number2"></input>
                    <button id="button" type="submit">Submit</button>
            </form>
        </div>
    </div>
  </body>
</html>