<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome Home</title>
  </head>

  <body>
    <h1>Home Page</h1>
    <div class="container">
        <div class="row-fluid">
            <form method='post' action="/">
                <div>Check MarkupSafe's escape:</div>
                    <input id="box" type="text" name="text_box"></input>
                    <button id="button" type="submit" name="submit_button">Submit</button>
            </form>
        </div>
    </div>
  </body>
</html>